
<div id="main">

    <!-- Intro -->
    <section id="top" class="one dark cover">
        
        <div class="container">

            <header>
                <h2 class="alt">
                    Hi! I'm <strong>Sus</strong>, this is my new home.<br />
                    I will record something to here.
                </h2>
                <p>
                    Food,Journey,Life and lots of fun.
                </p>
            </header>

            @*<footer>
                <a href="" class="button scrolly">Magna Aliquam</a>
            </footer>*@

        </div>
    </section>

    <!-- Portfolio -->
    <section id="portfolio" class="two">
        <div class="container">

            <header>
                <h2>Photos</h2>
            </header>

            <p>
                To my wife &amp; my daughter...
            </p>

            <div class="row floatrow">
                <div class="4u 12u$(mobile)">
                    <article class="item">
                        <a href="#" class="image fit"><img src="~/images/food1_small.png" alt="" /></a>
                        <header>
                            <h3>Delicious</h3>
                        </header>
                    </article>
                    <article class="item">
                        <a href="#" class="image fit"><img src="~/images/food2_small.png" alt="" /></a>
                        <header>
                            <h3>Delicious</h3>
                        </header>
                    </article>
                </div>
                <div class="4u 12u$(mobile)">
                    <article class="item">
                        <a href="#" class="image fit"><img src="~/images/ring_small.png" alt="" /></a>
                        <header>
                            <h3>Rings</h3>
                        </header>
                    </article>
                    <article class="item">
                        <a href="#" class="image fit"><img src="~/images/food3_small.png" alt="" /></a>
                        <header>
                            <h3>Delicious</h3>
                        </header>
                    </article>
                </div>
                <div class="4u$ 12u$(mobile)">
                    <article class="item">
                        <a href="#" class="image fit"><img src="~/images/food4_small.png" alt="" /></a>
                        <header>
                            <h3>Delicious</h3>
                        </header>
                    </article>
                    <article class="item">
                        <a href="#" class="image fit"><img src="~/images/food5_small.png" alt="" /></a>
                        <header>
                            <h3>Delicious</h3>
                        </header>
                    </article>
                </div>
            </div>

        </div>
    </section>

    <!-- About Me -->
    <section id="about" class="three">
        <div class="container">

            <header>
                <h2>About Me</h2>
            </header>

            <a href="#" class="image featured"><img src="images/DSC_0107.jpg" alt="" /></a>

            <p>
                还没想好写点啥，慢慢来不着急。。
            </p>

        </div>
    </section>

    <!-- Contact -->
    @*<section id="contact" class="four">
        <div class="container">

            <header>
                <h2>Contact</h2>
            </header>

            <p>
                
            </p>

            <form method="post" action="#">
                <div class="row">
                    <div class="6u 12u$(mobile)"><input type="text" name="name" placeholder="Name" /></div>
                    <div class="6u$ 12u$(mobile)"><input type="text" name="email" placeholder="Email" /></div>
                    <div class="12u$">
                        <textarea name="message" placeholder="Message"></textarea>
                    </div>
                    <div class="12u$">
                        <input type="submit" value="Send Message" />
                    </div>
                </div>
            </form>

        </div>
    </section>*@

</div>
@section Scripts{
<script src="~/assets/js/jquery.scrolly.min.js"></script>
<script src="~/assets/js/jquery.scrollzer.min.js"></script>
<script src="~/assets/js/main.js"></script>
}